#header {
     width: 1000px;
     margin: auto;
     text-align: center;
}

#main {
     width: 800px;
     margin: auto;
}

#aside {
     margin-top: 50px;
     width: 200px;
     position: relative;
     float: left;
}

#section{
     width: 580px;
     float: left;
     text-align: center;
}
